# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# Vite
.vite/

# =========================
# VS Code
# =========================
.vscode/

# JetBrains
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini
.env